.string-component {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;  
}

.question-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.question {
    font-size: 1.6rem;
    line-height: 2.1rem;
  color: #1b1b1b;
  width: 90%;
  align-self: center;
}

::ng-deep .mat-form-field-type-mat-input {
    width: 100% !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

::ng-deep .mat-form-field-wrapper {
    width: 100%;
}

.info-text {
    display: none;
}


.info-active {
    display: block !important;
    position: absolute;
    background-color: white;
    width: 90%;
    left: 5%;
    padding: 5rem 1rem;
    box-shadow: 0 2px 29px -2px rgba(165,195,253,0.40);;
    z-index: 90;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.2rem;
    color: #323232;
}   

