<app-navbar stopName="Stop Name" [stopId]="stopId">
  <h2>Test questiobns</h2>
</app-navbar>

<div>
  <mat-progress-bar class="progress-bar" mode="determinate" value="{{progressValue}}"></mat-progress-bar>
  <p class="progress-tag">{{answeredQuestions}} of {{totalNumberOfQuestions}}</p>
</div>

<div *ngFor="let question of questions">
  <app-question-type-number *ngIf="question.type == 'number'" [question]="question" (answer)="getAnswer($event)"></app-question-type-number>
  <!-- <app-question-type-boolean *ngIf="question.type == 'boolean'" [question]="question" (answer)="getAnswer($event)"></app-question-type-boolean>
  <app-question-type-multiple *ngIf="question.type == 'multiple'" [question]="question" (answer)="getAnswer($event)"></app-question-type-multiple>
  <app-question-type-string *ngIf="question.type == 'string'" [question]="question" (answer)="getAnswer($event)"></app-question-type-string> -->
</div>

<div class="end-buttons">
  <button class="done-button" (click)="saveAnswers()">Done</button>
  <a class="cancel" (click)="cancel()">Cancel</a>
</div>
