.progress-bar {
  margin-top: 2rem;
}

.progress-tag,
.progress-bar {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: #eeeff2;
}

::ng-deep .mat-progress-bar-fill::after {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

.end-buttons {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.done-button {
  height: 2.8rem;
  font-size: 1rem;
  color: #ffffff;
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

.cancel {
  text-align: center;
  height: 2.8rem;
  font-size: 1rem;
  text-decoration: none;
  padding-top: 1rem;
}
