.progress-bar {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.progress-tag,
.progress-bar {
  display: flex;
  justify-content: center;
}

.progress-tag {
  font-size: 1.4rem;
  color: rgba(29, 31, 49, 0.45);
  margin-bottom: 1.5rem;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: #eeeff2;
}

::ng-deep .mat-progress-bar-fill::after {
  background-image: linear-gradient(-270deg, #0072ff 0%, #00c6ff 99%);
}

.questionDiv {
  margin-bottom: 3rem;
}

.empty-first-div {
  height: 20rem;
}


