.carousel {
  width: 100vw;
  height: 30rem;
}

.flex {
  display: flex;
}

.stop-line {
  display: flex;
  align-items: center;
  background-color: #eeeded;
  color: black;
  margin: 0 auto;
  height: 4.8rem;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons a {
  width: 50vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.history-button {
  background-color: lightgrey;
}

.update-button {
  background-color: gainsboro;
}

.buttons a:hover{
  background-color: yellow;
}

.line-number, .line-type {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  margin: 0.2rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-type {
  background-color: lightgrey;
  margin-left: 1rem;
}

.detail-info {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.direction {
  font-size: 1.4rem;
  margin-left: 1.5rem;
  border-left: .2rem solid lightgrey;
  padding-left: 1.5rem;
}

.line-direction {
  padding-bottom: .5rem;
}
