<div *ngIf="stop">
  <app-navbar [stopName]="stop.alpha['nl']" [stopId]="stop.id" (back)="goBack()" (upload)="readURL($event)"> </app-navbar>

  <div class="carousel">
    <carousel *ngIf="enabledCaroussel" [sources]="imageSources" [config]="config"></carousel>
  </div>
  <div class="detail-info">
    <section class="section">
      <header>
        <h4 class="section-title">Served lines</h4>
      </header>
      <article class="stop-line" *ngFor="let line of stop.transport">
        <div class="flex">
          <p class="line-type" [ngStyle]="{'color':line.textColor}">{{line.type}}</p>
          <p class="line-number" [ngStyle]="{'color':line.textColor, 'background-color':line.backColor}">{{line.number}}</p>
        </div>
        <div>
          <p class="line-direction">&rarr; {{line.direction['nl']}}</p>
          <p class="search-result-info-title">{{stop.alpha["nl"]}}</p>
        </div>
      </article>
    </section>
    <section class="section">
      <header>
        <h4 class="section-title">Address</h4>
      </header>
      <article class="address-content">
        <div class="address">{{stop.address["nl"]}}</div>
        <a class="location" routerLink="/stops/{{stop.id}}/location">
          <img src="/assets/icons/locationPin.svg" height="30" alt="locationPin" /> Show map
        </a>
      </article>
    </section>
  </div>
  <div class="buttons">
    <a class="history-button" [routerLink]="['./', 'histories']">
      <img class="button-icon" src="/assets/icons/history.svg" width="30" height="30" alt="" /> History
    </a>
    <div class="stripe"></div>
    <a class="update-button" [routerLink]="['./', 'categories']">
      <img class="button-icon" src="/assets/icons/update.svg" width="30" height="30" alt="" /> Update
    </a>
  </div>
  <div class="empty-div"></div>
</div>
