<div *ngIf="stop">
  <app-navbar [stopName]="stop.alpha['nl']" [stopId]="stop.id"> </app-navbar>
  <!--
  <div class="header">
    <div class="header-content">
      <a class="backbutton" routerLink="/stops/search">
        <svg class="back-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
          x="0px" y="0px" width="14.3px" height="24px" viewBox="0 0 14.3 24" style="enable-background:new 0 0 14.3 24;" xml:space="preserve">
          <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" style="stop-color:#00C6FF;stop-opacity:1" />
              <stop offset="100%" style="stop-color:#0072FF;stop-opacity:1" />
            </linearGradient>
          </defs>
          <g>
            <path d="M13.9,0.5C13.6,0.2,13.2,0,12.8,0c-0.4,0-0.7,0.1-1,0.4L0.5,10.9C0.2,11.2,0,11.6,0,12c0,0.4,0.2,0.8,0.5,1.1l11.3,10.5
                  c0.6,0.6,1.5,0.5,2.1-0.1c0.6-0.6,0.5-1.5-0.1-2.1L3.6,12l10.2-9.5C14.4,2,14.4,1.1,13.9,0.5z" fill=url(#grad1)/>
          </g>
        </svg>
        Back
      </a>
      <div class="header-title">
        <h2 class="stop-title">{{stop.alpha["nl"]}}</h2>
        <h3 class="stop-id">id: {{stop.id}}</h3>
      </div>
      <div class="photo">
        <input type='file' name="file" id="file" class="input-file" accept="image/*" (change)="readURL($event);" />
        <label for="file">
          <figure>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
              x="0px" y="0px" width="28px" height="24.48px" viewBox="0 0 95.1 76.5" style="enable-background:new 0 0 95.1 76.5;"
              xml:space="preserve">
              <defs>
              </defs>
              <g>
                <path d="M47.5,21.1c-12,0-21.8,9.8-21.8,21.8s9.8,21.9,21.8,21.9S69.3,55,69.3,43S59.5,21.1,47.5,21.1z M47.5,58.6
                        c-8.6,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S56.1,58.6,47.5,58.6z" />
                <path d="M83.9,11.9H71.5l-2.3-5.2C67.5,2.6,63.5,0,59,0H36c-4.5,0-8.4,2.6-10.2,6.7l-2.3,5.2H11.1C5,11.9,0,16.9,0,23v42.4
                        c0,6.1,5,11.1,11.1,11.1H84c6.1,0,11.1-5,11.1-11.1V23C95,16.9,90,11.9,83.9,11.9z M88.8,65.4c0,2.7-2.2,4.9-4.9,4.9H11.1
                        c-2.7,0-4.9-2.2-4.9-4.9V23c0-2.7,2.2-4.9,4.9-4.9h14.5c1.2,0,2.4-0.7,2.8-1.9l3.1-7.1c0.8-1.8,2.5-3,4.5-3h23.1c2,0,3.7,1.2,4.5,3
                        l3.1,7.1c0.5,1.1,1.6,1.9,2.8,1.9H84c2.7,0,4.9,2.2,4.9,4.9L88.8,65.4L88.8,65.4z" />
                <circle cx="78.4" cy="28.1" r="4.6" />
              </g>
            </svg>

          </figure>
        </label>
      </div>
    </div>

  </div>

 -->


  <div class="carousel">
    <carousel *ngIf="enabledCaroussel" [sources]="imageSources" [config]="config"></carousel>
  </div>
  <div class="detail-info">
    <section class="section">
      <header>
        <h4 class="section-title">Served lines</h4>
      </header>
      <article class="stop-line" *ngFor="let line of stop.transport">
        <div class="flex">
          <p class="line-type" [ngStyle]="{'color':line.textColor}">{{line.type}}</p>
          <p class="line-number" [ngStyle]="{'color':line.textColor, 'background-color':line.backColor}">{{line.number}}</p>
        </div>
        <div>
          <p class="line-direction">&rarr; {{line.direction['nl']}}</p>
          <p class="search-result-info-title">{{stop.alpha["nl"]}}</p>
        </div>
      </article>
    </section>
    <section class="section">
      <header>
        <h4 class="section-title">Address</h4>
      </header>
      <article class="address-content">
        <div class="address">{{stop.address["nl"]}}</div>
        <a class="location" routerLink="/stops/{{stop.id}}/location">
          <img src="/assets/icons/locationPin.svg" height="30" alt="locationPin" /> Show map
        </a>
      </article>
    </section>
  </div>
  <div class="buttons">
    <a class="history-button" [routerLink]="['./', 'histories']">
      <img class="button-icon" src="/assets/icons/history.svg" width="30" height="30" alt="" /> History
    </a>
    <div class="stripe"></div>
    <a class="update-button" [routerLink]="['./', 'categories']">
      <img class="button-icon" src="/assets/icons/update.svg" width="30" height="30" alt="" /> Update
    </a>
  </div>
  <div class="empty-div"></div>
</div>
