.carousel {
  width: 100vw;
  height: 30rem;
}

.flex {
  display: flex;
}

.stop-line {
  display: flex;
  align-items: center;
  color: black;
  height: 4.8rem;
  border-bottom: 1.4px solid lightgray;
  margin: 1rem 0 !important;
}

.photo {
  align-self: center;
}

.address-content {
  display: flex;
  justify-content: space-between;
}

.address {
  width: 60%;
  padding-top: 0.5rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  align-self: flex-end;
  color: darkgray;
}

.location {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #039be5;
  font-size: 1.4rem;
}

.location img {
  align-self: center;
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  //box-shadow: 0 -3px 10px -4px rgba(27,27,27,0.30);
  box-shadow: 0 -3px 15px -4px rgba(165, 195, 253, 0.4);
}

.history-button,
.update-button {
  width: 47%;
  padding: 0.5rem 1rem;
  height: 5rem;
  margin: 0 1rem 0.5rem 0;
  font-size: 16px;
  color: #1b1b1b;
  text-align: center;
  text-decoration: none;
  line-height: 4rem;
}

.button-icon {
  vertical-align: middle;
}

.stripe {
  height: 3.5rem;
  align-self: center;
  width: 0.1rem;
  background-color: darkgray;
}

.line-direction {
  font-size: 1.6rem;
  padding-left: 1rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
}

.search-result-info-title {
  padding-left: 1rem;
  font-size: 1.4rem;
  padding-top: 0.4rem;
  color: darkgray;
}

.line-number,
.line-type {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  margin: 0.2rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-type {
  background-color: lightgrey;
  margin-left: 1rem;
}

.detail-info {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
}

.section {
  margin-bottom: 2rem;
}

// .header {
//   width: 100%;
//   position: fixed;
//   background-color: white;
//   box-shadow: 0 3px 15px -4px rgba(165, 195, 253, 0.4);
//   z-index: 100;
// }

// .header-content {
//   width: 90%;
//   display: flex;
//   margin-left: auto;
//   margin-right: auto;
//   justify-content: space-between;
// }

// .header-title {
//   display: flex;
//   flex-flow: column;
//   justify-content: center;
//   align-items: center;
// }

.empty-div {
  height: 5rem;
}
