.string-component {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;  
}
.question {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: rgba(29, 31, 49, 0.35);
    width: 90%;
}

::ng-deep .mat-form-field-type-mat-input {
    width: 100% !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

::ng-deep .mat-form-field-wrapper {
    width: 100%;
}

