<h2>My Heroes</h2>
<div>
  <mat-form-field class="example-full-width">
    <input #heroName matInput placeholder="Hero name" value="">
  </mat-form-field>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-raised-button color="secondary" (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge style-{{hero.getStyle()}}">{{hero.name.substring(0,1)}}</span> {{hero.name}}
    </a>
    <button mat-raised-button color="secondary" (click)="delete(hero)">x</button>
  </li>
</ul>
