<div id="search-component">
  <!--mat-form-field class="example-full-width">
  <input matInput placeholder="search" id="search-box" (keyup)="search(searchBox.value)" />
  </mat-form-field-->
  <!--ul class="search-result">
    <li *ngFor="let hero of heroes$ | async" >
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul-->

  <form>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search..." aria-label="Search..." [matAutocomplete]="auto" [formControl]="heroCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let hero of filteredHeroes | async" [value]="hero.name">
          <span>{{ hero.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
