/* StopSearch private styles */
html {
  font-size: 16px;
}

::ng-deep .mat-form-field-wrapper {
  width: 100vw;
}

// ::ng-deep .mat-autocomplete-panel {
//   background-color: rgba(255,255,255,.8);
// }

::ng-deep .mat-option {
  display: flex;
  margin: 1rem;
  background-color: lightgrey;
  height: 6rem !important;
  padding: 0;
}

.search-result-info {
  height: 5rem !important;
}

.search-result-info-more {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.search-result-info-title {
  color: black;
  font-size: 20px;
  font-weight: bold;
  height: 20% !important;
  margin-top: -1rem;
}

.search-result {
  font-size: 0.3rem;
  text-decoration: none;
}

.search-result-info-lines {
  display: flex;
  list-style: none;
  padding: 0;
}

.search-result-info-line {
  font-size: 16px;
  margin: 0.2rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  //background-color: orange;
  color: white;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-result-info-direction,
.search-result-info-type {
  font-size: 16px;
  color: black;
}

.search-result-info-type {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
}

.cdk-overlay-pane {
  width: 100vw;
  height: 100vw;
  top: 66px;
}

.mat-autocomplete-panel {
  height: 100vh;
}

//
// .search-result li {
//   border-bottom: 1px solid gray;
//   border-left: 1px solid gray;
//   border-right: 1px solid gray;
//   width:195px;
//   height: 16px;
//   padding: 5px;
//   background-color: white;
//   cursor: pointer;
//   list-style-type: none;
// }
//
// .search-result li:hover {
//   background-color: #607D8B;
// }
//
// .search-result li a {
//   color: #888;
//   display: block;
//   text-decoration: none;
// }

// .search-result li a:hover {
//   color: white;
// }
// .search-result li a:active {
//   color: white;
// }

// #search-box {
//   width: 200px;
//   height: 20px;
// }

.map {
  height: 100vw;
}

// ul.search-result {
//   margin-top: 0;
//   padding-left: 0;
// }
