// .heading {
//   width: 90%;
//   margin-left: auto;
//   margin-right: auto;
// }

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: #039be5;
}

.header {
    height: auto;
    padding-top: 0;
    width: auto;
    margin: 0;
    
}

.done-button {
    font-size: 1.6rem;
    color: #039be5;
}

.heading {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 100;
}

.heading-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 2rem;
  color: #1b1b1b;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}

.section-sub-title {
  font-size: 1.6rem;
  color: rgba(29, 31, 45, 0.45);
  margin: 0;
}

