<div>
  <mat-form-field class="example-full-width">
    <input #heroName matInput placeholder="Hero name" value="">
  </mat-form-field>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-raised-button color="secondary" (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<mat-list>
  <mat-list-item *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
    <mat-icon color="primary">arrow_upward</mat-icon>
    <mat-icon color="accent">arrow_downward</mat-icon>
      {{"&nbsp;"+hero.name}}
    <span class="fill-remaining-space"></span>
    <mat-icon (click)="delete(hero)">delete</mat-icon>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
