<div *ngIf="line">

  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightgreen'">
      <h2 [style.color]="'#'+line.text_color"> {{line.destination.fr}} </h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#'+line.color">
      <h1 [style.color]="'#'+line.text_color">{{line.number}} </h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightpink'">
      <h2 [style.color]="'#'+line.text_color"> {{line.stops.length/2}} </h2> stops
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'lightpink'">
      <h2 [style.color]="'#'+line.text_color"> {{line.destination.nl}}</h2>
    </mat-grid-tile>

  </mat-grid-list>

  {{line | json}}

</div>
